.wrapper {
	position: relative;
	flex: 1 0 auto;
	width: 1024px;
	height: 768px;
	padding: 161px 43px 161px 68px;
	background-image: url('./background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-family: 'DINPro';
	font-weight: 400;
	font-size: 27px;
	text-transform: uppercase;
	color: #242424;
	letter-spacing: 1.7px;
}

.subText {
	position: relative;
	text-transform: uppercase;
	font-family: 'Gilroy';
	font-weight: 300;
	color: #171717;
	font-size: 109px;
	line-height: 118px;
	margin: 11px 0px 0px 0px;
	letter-spacing: 6px;
	z-index: 1;
}

.subTextSpan {
	font-weight: 800;
}

.img {
	position: absolute;
	background-repeat: no-repeat;
}

.bacteriumTop {
	background-image: url('./bacteriumTop.png');
	width: 63px;
	height: 57px;
	top: 62px;
	right: 217px;
	animation: bacteriumTop 15s infinite linear;
}

.bacteriumRight {
	background-image: url('./bacteriumRight.png');
	width: 111px;
	height: 114px;
	top: 200px;
	right: 52px;
	animation: bacteriumRight 20s infinite linear;
}

.bacteriumButtom {
	background-image: url('./bacteriumBottom.png');
	width: 228px;
	height: 224px;
	bottom: -98px;
	right: 254px;
	animation: bacteriumButtom 7s infinite linear;
}

.bacteriumLeft {
	background-image: url('./bacteriumLeft.png');
	width: 73px;
	height: 71px;
	bottom: 193px;
	left: 22px;
	animation: bacteriumLeft 30s infinite linear;
}

.pinkSperm {
	background-image: url('./pinkSperm.png');
	width: 592px;
	height: 93px;
	top: 155px;
	right: 0px;
	z-index: 2;
}

.buttonScreen {
	padding: 0px 0px 0px 53px;
	width: 289px;
	position: absolute;
	right: 65px;
	bottom: 17px;
	border-radius: 40px;
	border: none;
	letter-spacing: 0.8px;
	background-image: url('./arrow.png');
	background-repeat: no-repeat;
	background-position: 13px 7px;
}

@keyframes bacteriumTop {
	0% {
		transform: scale(1) translate(0px, 0px);
	}

	25% {
		transform: scale(1) translate(60px, 20px);
	}

	50% {
		transform: scale(1.3) translate(60px, 20px);
	}

	75% {
		transform: scale(1) translate(60px, 20px);
	}

	99.9% {
		transform: scale(1) translate(0px, 0px);
	}
}

@keyframes bacteriumRight {
	0% {
		transform: rotate(0) translateX(40px);
	}

	25% {
		transform: rotate(90deg) translateX(40px);
	}

	50% {
		transform: rotate(180deg) translateX(40px);
	}

	75% {
		transform: rotate(270deg) translateX(40px);
	}

	99.9% {
		transform: rotate(360deg) translateX(40px);
	}
}

@keyframes bacteriumButtom {
	0% {
		transform: scale(1.01) translate(0px, 0px);
	}

	25% {
		transform: scale(1.03) translate(0px, 0px);
	}

	50% {
		transform: scale(1.05) translate(0px, 0px);
	}

	75% {
		transform: scale(1.03) translate(-15px, -12px);
	}

	99.9% {
		transform: scale(1.01) translate(0px, 0px);
	}
}

@keyframes bacteriumLeft {
	0% {
		transform: translate(0px, 0px)
	}

	25% {
		transform: translate(90px, 80px)
	}

	50% {
		transform: translate(0px, 0px)
	}

	75% {
		transform: translate(90px, 80px)
	}

	99.9% {
		transform: translate(0px, 0px)
	}
}