.wrapper {
	position: relative;
	flex: 1 0 auto;
	width: 1024px;
	height: 768px;
	padding: 162px 80px 83px 227px;
	background-image: url('./background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.textBlock {
	padding: 0px 0px 0px 124px;
}

.title {
	font-family: 'DINPro';
	font-weight: 400;
	font-size: 27px;
	text-transform: uppercase;
	color: #242424;
	letter-spacing: 1.7px;
}

.subText {
	text-transform: uppercase;
	font-family: 'Gilroy';
	font-weight: 400;
	color: #171717;
	font-size: 95px;
	margin: 0px 0px 0px 0px;
	letter-spacing: 10px;
	line-height: 110px;
}

.subTextSpan {
	font-weight: 800;
}

.infoBlock {
	display: flex;
	justify-content: space-between;
	padding: 70px 0px 0px 0px;
}

.infoCol {
	position: relative;
	border-radius: 40px;
	background-color: #ffffff;
	box-shadow:0 0 70px rgba(157, 185, 198, 0.4);
	font-family: 'DINPro';
	font-weight: 400;
	color: #2e2e2e;
	font-size: 25px;
	padding-top: 48px;
	padding-bottom: 30px;

}

.infoColLeft {
	padding-left: 125px;
	padding-right: 30px;
	width: 414px;
	height: 265px;
}

.infoColRight {
	padding-left: 42px;
	padding-right: 0px;
	width: 263px;
	height: 150px;
}

.img {
	position: absolute;
	background-repeat: no-repeat;
}

.plate {
	background-image: url('./plate.png');
	width: 68px;
	height: 63px;
	top: -32px;
	left: 124px;
}

.calendar {
	background-image: url('./calendar.png');
	width: 70px;
	height: 57px;
	top: -23px;
	left: 40px;
}

.buttonScreen {
	margin-top: 37px;
	padding: 0px 0px 0px 53px;
	width: 264px;
	border-radius: 40px;
	border: none;
	letter-spacing: 0.8px;
	background-image: url('./plus.png');
	background-repeat: no-repeat;
	background-position: 13px 7px;
}

.titlePopup {
	font-family: 'DINPro';
	font-weight: 400;
	font-size: 27px;
	text-transform: uppercase;
	color: #242424;
	letter-spacing: 1.7px;
}

.subTextPopup {
	text-transform: uppercase;
	font-family: 'Gilroy';
	font-weight: 400;
	color: #171717;
	font-size: 95px;
	margin: 0px 0px 0px 0px;
	letter-spacing: 10px;
	line-height: 110px;
}

.subTextSpanPopup {
	font-weight: 800;
}

.numbersBlock:not(:first-child) {
	margin: 16px 0px 0px 0px;
}

.number {
	font-family: 'Gilroy';
	font-weight: 800;
	font-size: 25px;
	color: #8cc9e8;
}

.content {
	margin-top: 5px;
	line-height: 31px;
	font-family: 'DINPro';
	font-weight: 400;
	font-size: 25px;
	color: #2e2e2e;
}

.bottle {
	background-image: url('./bottle.png');
	width: 233px;
	height: 689px;
	bottom: 0px;
	left: 50px;
	z-index: 1;
}

.blueBubble1 {
	background-image: url('./blueBubble1.png');
	width: 37px;
	height: 38px;
	bottom: 664px;
	left: 198px;
	animation: blueBubble1 20s infinite linear;
}

@keyframes blueBubble1 {
	0% {
		transform: translate(0px, 0px)
	}

	25% {
		transform: translate(23px, 23px)
	}

	50% {
		transform: translate(0px, 0px)
	}

	75% {
		transform: translate(23px, -23px)
	}

	99.9% {
		transform: translate(0px, 0px)
	}
}

.blueBubble2 {
	background-image: url('./blueBubble2.png');
	width: 68px;
	height: 69px;
	bottom: 544px;
	left: 185px;
	z-index: 2;
	animation: blueBubble2 20s infinite linear;
}

@keyframes blueBubble2 {
	0% {
		transform: translate(0px, 0px)
	}

	25% {
		transform: translate(40px, 42px)
	}

	50% {
		transform: translate(0px, 0px)
	}

	75% {
		transform: translate(-40px, -42px)
	}

	99.9% {
		transform: translate(0px, 0px)
	}
}

.blueBubble3 {
	background-image: url('./blueBubble3.png');
	width: 33px;
	height: 33px;
	bottom: 282px;
	left: 11px;
	z-index: 2;
	animation: blueBubble3 30s infinite linear;
}

@keyframes blueBubble3 {
	0% {
		transform: translate(0px, 0px)
	}

	20% {
		transform: translate(21px, 20px)
	}

	40% {
		transform: translateX(-21px)
	}

	60% {
		transform: translateX(21px)
	}

	80% {
		transform: translate(-21px, -20px)
	}

	99.9% {
		transform: translate(0px, 0px)
	}
}

.blueBubble4 {
	background-image: url('./blueBubble4.png');
	width: 62px;
	height: 62px;
	bottom: 116px;
	left: 242px;
	animation: blueBubble4 30s infinite linear;
}

@keyframes blueBubble4 {
	0% {
		transform: scale(1) translate(0px, 0px)
	}

	50% {
		transform: scale(1.2) translate(35px, 32px)
	}

	99.9% {
		transform: scale(1) translate(0px, 0px)
	}
}

.blueBubble5{
	background-image: url('./blueBubble5.png');
	width: 143px;
	height: 143px;
	bottom: -77px;
	left: 183px;
	z-index: 2;
	animation: blueBubble5 10s infinite linear;
}

@keyframes blueBubble5 {
	0% {
		transform: scale(1)
	}

	50% {
		transform: scale(0.8)
	}

	99.9% {
		transform: scale(1)
	}
}

.pinkBubbleTop {
	background-image: url('./pinkBubbleTop.png');
	width: 34px;
	height: 34px;
	bottom: 523px;
	left: 77px;
	animation: pinkBubbleTop 15s infinite linear;
}

@keyframes pinkBubbleTop {
	0% {
		transform: translate(0px, 0px)
	}

	50% {
		transform: translate(45px, 39px)
	}

	99.9% {
		transform: translate(0px, 0px)
	}
}

.pinkBubbleMiddle {
	background-image: url('./pinkBubbleMiddle.png');
	width: 113px;
	height: 112px;
	bottom: 341px;
	left: 186px;
	animation: pinkBubbleMiddle 10s infinite linear;
}

@keyframes pinkBubbleMiddle {
	0% {
		transform: scale(1)
	}

	50% {
		transform: scale(0.5)
	}

	99.9% {
		transform: scale(1)
	}
}

.pinkBubbleBottom {
	background-image: url('./pinkBubbleBottom.png');
	width: 75px;
	height: 75px;
	bottom: 140px;
	left: 25px;
	z-index: 2;
	animation: pinkBubbleBottom 30s infinite linear;
}

@keyframes pinkBubbleBottom {
	0% {
		transform: scale(1) translate(0px, 0px)
	}

	20% {
		transform: scale(1.3) translate(66px, 40px)
	}

	40% {
		transform: scale(1.3) translate(-66px, 44px)
	}

	60% {
		transform: scale(1) translate(66px, -44px)
	}

	80% {
		transform: scale(1) translate(-66px, -40px)
	}

	99.9% {
		transform: scale(1) translate(0px, 0px)
	}
}